@use "colors";

.main {
  font-size: 3rem;
  font-weight: 900;
  color: mediumspringgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 15rem;

  .avatarContainer {
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 100%;
    overflow: hidden;

    .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
