@use "colors";

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10.5rem 7.5vw 0rem 7.5vw;

  .avatarContainer {
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
    align-self: center;

    .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #greeting {
    color: colors.$primary-green;
    font-size: 2rem;
    font-weight: 500;
    font-family: "IBM Plex Mono";
    margin-bottom: 0.5rem;
  }

  #name {
    color: colors.$darkmode-font;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .sentence {
    color: colors.$darkmode-font;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}
