.logos {
  overflow: hidden;
  margin-top: -2rem;
  padding-bottom: 3.75rem;
  width: 100vw;
  white-space: nowrap;

  .logoSlide {
    display: inline-block;
    animation: slideLeft 45s linear infinite;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
