@use "colors";

#navbar {
  width: 100vw;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .logo {
    font-size: 3rem;
    font-weight: 900;
    margin-left: 2.5rem;
    color: colors.$primary-green;
    z-index: 10;
  }
}
