.timeline {
  margin-top: 2rem;
  padding-top: 8rem;

  .achievements {
    padding-top: 1rem;
    color: white;
    margin-left: 2.25rem;
    padding-bottom: 1rem;
    font-size: 1.75rem;

    .achievement {
      margin-bottom: 1.5rem;
      font-size: 1.55rem;
    }
  }
}
